{% extends 'base.html.twig' %}

{% block title %}Mon carnet de Recette
{% endblock %}

{% block body %}

	<div class="jumbotron">
		<h1 class="display-4">Bienvenue dans mon carnet de recettes!</h1>
		<p class="lead">Mon carnet de recette est une application qui va te permettre de créer tes propres recettes à base d'ingrédients que tu peux trouver facilement. Tu peux si tu le souhaites, partager des recettes avec la communauté du site, ou les garder en privée.</p>
		<hr class="my-4">
		<p>Pour commencer, rendez-vous sur la page d'unscription pour utiliser l'application.</p>
		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
	</div>
	<p>je suis un paragraphe</p>

{% endblock %}
